<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="cta-262">
    <div class="cs-container">
        <div class="cs-left-section">
            <h2 class="cs-title">Come as a stranger, <BR>Leave as a friend</h2>
            <a href="tel:(705)436-1476" class="cs-button-solid">Call Us</a>
        </div>
        <div class="cs-content">
            <span class="cs-header">Opening Hours</span>
            <p class="cs-p">
                Wed-Thu: 4:30-8:30 PM <BR> Fri-Sun: 4:00-9:00 PM <BR> Closed Mon-Tue<br>

            </p>
            <p class="cs-p">
                Reservations Recommended, Walk-Ins Welcome.
            </p>
        </div>
        <picture class="cs-background">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/CTA/cloth-m.jpg">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/CTA/cloth.jpg">
            <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/CTA/cloth.jpg" alt="appliance" width="275" height="132">
        </picture>
    </div>
</section>
