<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/images/LogoT-clipped.png" alt="logo" width="264" height="156"></a>
            <p>
                Wed-Thu: 4:30-8:30 PM <br>
                Fri-Sun: 4:00-9:00 PM<br>
                Closed Mon-Tue
            </p>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/Menu">Menu</a>
                    </li>
                    <li>
                        <a href="/catering">Catering</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Why Davidsons?</h2>
                    </li>
                    <li>Home-made Dinner</li>
                    <li>Live Music</li>
                    <li>Local restaurant</li>
                    <li>Fine Dining</li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="/contact">
                            {{client.address.lineOne}}<br>
                            {{client.address.lineTwo}}<br>
                            {{client.address.city}}
                            {{client.address.state}}
                            {{client.address.zip}}
                        </a>
                    </li>
                    <li>
                        <a href="tel:{{client.phoneForTel}}">
                            T:
                            {{client.phoneFormatted}}
                        </a>
                    </li>
                    <li>
                        <a href="mailto:{{client.email}}">Click to Email</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="https://lakesidewebdesign.ca" target="_blank" rel="noopener">Lakeside Web Design</a>
        <span class="copyright">
            Copyright {% year %} - Present</span>
    </div>
</footer>
