---
title: 'About | Davidson’s Country Dining'
description: 'Learn about the history and charm of Davidson’s Country Dining, a rustic restaurant offering a cozy, welcoming atmosphere with delicious, locally-sourced meals.'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
key: About Us
order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1014">
    <div class="cs-container">
        <picture class="cs-picture">
            <img class="cs-icon" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Ffancy-divider.svg" alt="divider" width="181" height="36" aria-hidden="true">
        </picture>
        <p class="cs-text">
            Discover the warmth and tradition of Davidson’s Country Dining, where every meal is a taste of home.
        </p>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FMISC%2Ftable.jpg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FMISC%2Ftable.jpg">
        <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FMISC%2Ftable.jpg" alt="breakfast" width="1920" height="1000">
    </picture>
</div>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-1014">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/breakfast1.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/breakfast1.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/breakfast1.jpg" alt="breakfast" width="522" height="581" aria-hidden="true">
            </picture>
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/breakfast2.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/breakfast2.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/breakfast2.jpg" alt="breakfast" width="414" height="400" aria-hidden="true">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">About Us</span>
            <h2 class="cs-title">The Story of Davidson’s Country Dining</h2>
            <p class="cs-text">
                Nestled in the heart of Innisfil, Davidson’s Country Dining has been a beloved local treasure since its doors first opened in 1980. Born out of a passion for great food and a love for the community, Davidson’s offers more than just a meal; it offers a true culinary experience steeped in tradition and warmth.
            </p>
            <p class="cs-text">
                Our story began when Dan, decided to create a place where the pace of life could slow down, and people could gather over hearty, home-cooked meals. What started as a small family operation has grown into a staple of the community, known for its cozy atmosphere, friendly service, and menu filled with locally-sourced ingredients.
            </p>
            <div class="cs-quote">
                <span class="cs-quote-text">
                    "At Davidson’s, we believe that the best meals are the ones that bring people together. Our food is a celebration of the simple, honest ingredients that make every dish special."
                </span>
                <span class="cs-name">Dan Davidson</span>
                <span class="cs-job">Owner & Head Chef</span>
                <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
            </div>
        </div>
    </div>
</section>



<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="cta-1014">
    <div class="cs-container">
        <div class="cs-left-section">
            <h2 class="cs-title">Join Us for a Taste of Tradition!</h2>
            <a href="" class="cs-button-solid">Make a Reservation</a>
        </div>
        <div class="cs-content">
            <span class="cs-header">Our Hours</span>
            <p class="cs-p">
                Wed-Thu: 4:30-8:30 PM <BR> Fri-Sun: 4:00-9:00 PM <BR> Closed Mon-Tue<br>
            </p>
            <p class="cs-p">
                Reservations Recommended, Walk-Ins Welcome.<br>
            </p>
        </div>
        <picture class="cs-background">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/breakfast3.jpg">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/breakfast3.jpg">
            <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/breakfast3.jpg" alt="breakfast" width="275" height="132">
        </picture>
    </div>
</section>



{% endblock %}