---
title: 'Menu | Davidsons Country Dining'
description: 'Menu'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'menu/'
eleventyNavigation:
    key: Menu
    order: 3200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/menu.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1031">
    <div class="cs-container">
        <picture class="cs-picture">
            <img class="cs-icon" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Ffancy-divider.svg" alt="divider" width="181" height="36" aria-hidden="true">
        </picture>
        <span class="cs-int-title">Our Complete Menu</span>
        <p class="cs-text">
            Please take a moment to check out our menu. Feel free to call to ask about anything.
        </p>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/table-bg.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/table-bg.jpg">
        <img decoding="async" src="/assets/images/table-bg.jpg" alt="logo" width="1920" height="1000">
    </picture>
</div>

<!-- ============================================ -->
<!--                  Menu Group                  -->
<!-- ============================================ -->
<!--

Menu Rules


1) The menu items are broken up in to rows (cs-menu-row) so we can have an easier time arranging the menu items for more flexibility.

2) There are 2 menu items by default in the cs-menu-row, if you need a third menu item, add a class .cs-3 to the .cs-menu-row. This will change the styles to account for a third option and look much better.

3) Inside the cs-menu-group each menu section in wrapped in a .cs-menu class. We have two types of menu styles.  There's the default and cs-menu-style2. cs-menu-style2 makes the dark wood background section style you see.  When you need to make extra .cs-menu groups for your menu group, you just copy and paste the .cs-menu under the last one.  And if you want that menu to have the wood background for variety, just add the .cs-menu-style2 class after the cs-menu class and it will automatically add the new style.

We recommend NOT having two cs-menu-style2 groups one after the other. It works best when it alternates, like in the default menu we provided. You don't have to use it at all if you don't want it.  Remove that class and your menu will be uniform.

4) For easier code management, collapse all ".cs-menu" section tags. Makes it easier to go up and down the document.  You can also add your own menu styles or edit the ones we have for you to be more suited for your design.

5) Copy and paste the cs-menu section to make a new menu seciton and make sure you menu styles alternate.

For quick reference:

.cs-menu-style2 = dark wood background
.cs-menu-style3 = white background with opacity

.cs-3 = when placed on .cs-menu-row it turns the row into a 3 item flexbox

-->

<div id="cs-menu-group-1031">
    <!-- Tapas -->
    <div id="cs-menu1-1031" class="cs-menu-group">
        <!-- Tapas Section -->
        <section class="cs-menu">
            <div class="cs-container">
                <div class="cs-content">
                    <h2 class="cs-title">Tapas</h2>
                    <p class="cs-text">
                        Start your meal with our exquisite selection of tapas.
                    </p>
                </div>
                <ul class="cs-menu-list">
                    <div class="cs-menu-row">
                        <div class="cs-menu-item">
                            <h3 class="cs-h3">
                                <span class="cs-name">Soup of the Day</span>
                                <span class="cs-price">9</span>
                            </h3>
                            <p class="cs-menu-p">
                                Always fresh. Ask your server for details.
                            </p>
                        </div>
                        <div class="cs-menu-item">
                            <h3 class="cs-h3">
                                <span class="cs-name">French Onion Soup</span>
                                <span class="cs-price">12</span>
                            </h3>
                            <p class="cs-menu-p">
                                A rich broth made with sweet onions, topped and broiled with fresh mozzarella cheese.
                            </p>
                        </div>
                    </div>
                    <div class="cs-menu-row">
                        <div class="cs-menu-item">
                            <h3 class="cs-h3">
                                <span class="cs-name">Classic Greek Salad</span>
                                <span class="cs-price">13 / 17</span>
                            </h3>
                            <p class="cs-menu-p">
                                Our house-made Greek vinaigrette dressing drizzled over a bed of romaine lettuce along with tomato, cucumber, peppers, red onion, feta, and black olives.
                            </p>
                        </div>
                        <div class="cs-menu-item">
                            <h3 class="cs-h3">
                                <span class="cs-name">Davidson's Famous Caesar Salad</span>
                                <span class="cs-price">12 / 16</span>
                            </h3>
                            <p class="cs-menu-p">
                                Romaine lettuce tossed with croutons, parmigiana, bacon bits, and our renowned homemade dressing. Add Shrimp +10, Chicken +7.
                            </p>
                        </div>
                    </div>
                    <div class="cs-menu-row">
                        <div class="cs-menu-item">
                            <h3 class="cs-h3">
                                <span class="cs-name">Escargot</span>
                                <span class="cs-price">16</span>
                            </h3>
                            <p class="cs-menu-p">
                                Escargots sautéed with fresh garlic, Pernod, and topped with freshly grated mozzarella broiled to a golden brown perfection.
                            </p>
                        </div>
                        <div class="cs-menu-item">
                            <h3 class="cs-h3">
                                <span class="cs-name">Mushroom Crostini</span>
                                <span class="cs-price">16</span>
                            </h3>
                            <p class="cs-menu-p">
                                Garlic toast topped with sautéed mushrooms, parmigiana, bacon, and fresh seasonings.
                            </p>
                        </div>
                    </div>
                    <div class="cs-menu-row">
                        <div class="cs-menu-item">
                            <h3 class="cs-h3">
                                <span class="cs-name">Crab Cakes</span>
                                <span class="cs-price">18</span>
                            </h3>
                            <p class="cs-menu-p">
                                Two crab cakes made fresh in house on a bed of fresh greens and topped with a smoky ancho-mayo.
                            </p>
                        </div>
                        <div class="cs-menu-item">
                            <h3 class="cs-h3">
                                <span class="cs-name">Mussels</span>
                                <span class="cs-price">18</span>
                            </h3>
                            <p class="cs-menu-p">
                                Fresh mussels sautéed with your choice of our house marinara or a creamy white wine sauce, served with garlic toast.
                            </p>
                        </div>
                    </div>
                </ul>
            </div>
        </section>
    </div>

    <!-- Light Fare -->
    <div id="cs-menu2-1031" class="cs-menu-group">
        <!-- Light Fare Section -->
        <section class="cs-menu cs-menu-style2">
            <div class="cs-container">
                <div class="cs-content">
                    <h2 class="cs-title">Light Fare</h2>
                    <p class="cs-text">
                        Perfectly portioned dishes for a lighter appetite.
                    </p>
                </div>
                <ul class="cs-menu-list">
                    <div class="cs-menu-row">
                        <div class="cs-menu-item">
                            <h3 class="cs-h3">
                                <span class="cs-name">Stuffed Yorkshire Pudding</span>
                                <span class="cs-price">26</span>
                            </h3>
                            <p class="cs-menu-p">
                                Sky high homemade Yorkshire pudding stuffed with shaved rib eye beef and braised beef, topped with our house country gravy.
                            </p>
                        </div>
                        <div class="cs-menu-item">
                            <h3 class="cs-h3">
                                <span class="cs-name">Davidson’s Clubhouse</span>
                                <span class="cs-price">25</span>
                            </h3>
                            <p class="cs-menu-p">
                                In house roasted chicken layered with bacon, cheddar, tomato, and lettuce on your choice of either white or whole wheat bread.
                            </p>
                        </div>
                    </div>
                    <div class="cs-menu-row">
                        <div class="cs-menu-item">
                            <h3 class="cs-h3">
                                <span class="cs-name">Fish and Chips</span>
                                <span class="cs-price">22</span>
                            </h3>
                            <p class="cs-menu-p">
                                Our homemade beer battered haddock fried to a golden brown and served with our fresh cut fries.
                            </p>
                        </div>
                        <div class="cs-menu-item">
                            <h3 class="cs-h3">
                                <span class="cs-name">Beef Burger</span>
                                <span class="cs-price">22</span>
                            </h3>
                            <p class="cs-menu-p">
                                Prime rib burger char-grilled and topped the way you like. Add Cheese + 2 Add Bacon + 3.
                            </p>
                        </div>
                    </div>
                    <div class="cs-menu-row">
                        <div class="cs-menu-item">
                            <h3 class="cs-h3">
                                <span class="cs-name">Chicken Tenders</span>
                                <span class="cs-price">18</span>
                            </h3>
                            <p class="cs-menu-p">
                                House made chicken tenders served with our fresh cut fries and a sweet plum sauce.
                            </p>
                        </div>
                    </div>
                </ul>
            </div>
        </section>
    </div>

    <!-- Entrees -->
    <div id="cs-menu3-1031" class="cs-menu-group">
        <!-- Entrees Section -->
        <section class="cs-menu">
            <div class="cs-container">
                <div class="cs-content">
                    <h2 class="cs-title">Entrees</h2>
                    <p class="cs-text">
                        Hearty and fulfilling entrees made to satisfy.
                    </p>
                </div>
                <ul class="cs-menu-list">
                    <div class="cs-menu-row">
                        <div class="cs-menu-item">
                            <h3 class="cs-h3">
                                <span class="cs-name">Chicken Schnitzel</span>
                                <span class="cs-price">28</span>
                            </h3>
                            <p class="cs-menu-p">
                                Tender chicken cutlet breaded and fried to perfection, served with our infused honey.
                            </p>
                        </div>
                        <div class="cs-menu-item">
                            <h3 class="cs-h3">
                                <span class="cs-name">Davidson’s Meatloaf</span>
                                <span class="cs-price">26</span>
                            </h3>
                            <p class="cs-menu-p">
                                A classic meatloaf made with chuck beef combined with our house seasonings, topped with our country gravy.
                            </p>
                        </div>
                    </div>
                    <div class="cs-menu-row">
                        <div class="cs-menu-item">
                            <h3 class="cs-h3">
                                <span class="cs-name">Liver and Onions</span>
                                <span class="cs-price">24</span>
                            </h3>
                            <p class="cs-menu-p">
                                Two pieces of liver cooked to your preference, topped with sautéed onions and our country gravy. Add bacon +3.
                            </p>
                        </div>
                        <div class="cs-menu-item">
                            <h3 class="cs-h3">
                                <span class="cs-name">AAA Striploin Steak</span>
                                <span class="cs-price">38</span>
                            </h3>
                            <p class="cs-menu-p">
                                10oz centre cut striploin, char-grilled to your preference.
                            </p>
                        </div>
                    </div>
                    <div class="cs-menu-row">
                        <div class="cs-menu-item">
                            <h3 class="cs-h3">
                                <span class="cs-name">Prime Rib Dinner</span>
                                <span class="cs-price">42 / 44 / 46</span>
                            </h3>
                            <p class="cs-menu-p">
                                Our famous slow and low roasted prime rib served with seasonal vegetables, topped with our country gravy and your choice of potato. Add Yorkshire pudding +4. Starting at 8oz and going up to 12oz.
                            </p>
                        </div>
                        <div class="cs-menu-item">
                            <h3 class="cs-h3">
                                <span class="cs-name">Fresh Fish of the Day</span>
                                <span class="cs-price">34</span>
                            </h3>
                            <p class="cs-menu-p">
                                Ask your server for details.
                            </p>
                        </div>
                    </div>
                </ul>
            </div>
        </section>
    </div>

    <!-- Drinks -->
    <div id="cs-menu4-1031" class="cs-menu-group">
        <!-- Drinks Section -->
        <section class="cs-menu cs-menu-style2">
            <div class="cs-container">
                <div class="cs-content">
                    <h2 class="cs-title">Drinks</h2>
                    <p class="cs-text">
                        Check out what we've got for a drink. We have various wines, vintages, liquor, and liqueur.
                    </p>
                </div>
                <ul class="cs-menu-list">
                    <div class="cs-menu-row">
                        <div class="cs-menu-item">
                            <h3 class="cs-h3">
                                <span class="cs-name">8 oz Wine</span>
                                <span class="cs-price">16</span>
                            </h3>
                            <p class="cs-menu-p">
                                Premium House Wine.
                            </p>
                        </div>
                        <div class="cs-menu-item">
                            <h3 class="cs-h3">
                                <span class="cs-name">Beer Pint</span>
                                <span class="cs-price">10</span>
                            </h3>
                            <p class="cs-menu-p">
                                A pint of draft beer.
                            </p>
                        </div>
                    </div>
                    <div class="cs-menu-row">
                        <div class="cs-menu-item">
                            <h3 class="cs-h3">
                                <span class="cs-name">Bottle Wine/Vintage</span>
                                <span class="cs-price">65</span>
                            </h3>
                            <p class="cs-menu-p">
                                Choose from our selection of bottled wines and vintages.
                            </p>
                        </div>
                        <div class="cs-menu-item">
                            <h3 class="cs-h3">
                                <span class="cs-name">Prosecco</span>
                                <span class="cs-price">55</span>
                            </h3>
                            <p class="cs-menu-p">
                                A fun bottle to share
                            </p>
                        </div>
                    </div>
                    <div class="cs-menu-row">
                        <div class="cs-menu-item">
                            <h3 class="cs-h3">
                                <span class="cs-name">Shots(1oz)</span>
                                <span class="cs-price">7</span>
                            </h3>
                            <p class="cs-menu-p">
                                House shots. Premium shots are extra.
                            </p>
                        </div>
                        <div class="cs-menu-item">
                            <h3 class="cs-h3">
                                <span class="cs-name">Martini</span>
                                <span class="cs-price">17</span>
                            </h3>
                            <p class="cs-menu-p">
                                A classic martini. Shaken or stirred. Perhaps even dirty.
                            </p>
                        </div>
                    </div>
                </ul>
            </div>
        </section>
    </div>
</div>

{% include 'components/cta.html' %}

{% endblock %}