/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */
/*-- -------------------------- -->
<---            Menu            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #menu-1001 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
  }
  #menu-1001:before {
    /* static tiled pattern */
    content: "";
    height: 100%;
    width: 100%;
    opacity: 0.08;
    background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/static-pattern.png");
    background-size: auto;
    background-position: center;
    background-repeat: repeat;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #menu-1001 .cs-container {
    width: 100%;
    max-width: 80em;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 7vw, 4rem);
  }
  #menu-1001 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #menu-1001 .cs-wrapper {
    /* 120px - 181px */
    width: clamp(7.5rem, 9vw, 11.3125rem);
    margin-bottom: 0.75rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  #menu-1001 .cs-wrapper:before {
    /* left line */
    content: "";
    /* 90px - 155px */
    width: clamp(5.625rem, 4vw, 9.6875rem);
    height: 1px;
    /* 12px - 24px */
    margin-right: clamp(0.75rem, 2vw, 1.5rem);
    background: #b4b2c7;
    opacity: 1;
    position: absolute;
    display: block;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
  }
  #menu-1001 .cs-wrapper:after {
    /* right line */
    content: "";
    /* 90px - 155px */
    width: clamp(5.625rem, 4vw, 9.6875rem);
    height: 1px;
    /* 12px - 24px */
    margin-left: clamp(0.75rem, 2vw, 1.5rem);
    background: #b4b2c7;
    opacity: 1;
    position: absolute;
    display: block;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
  }
  #menu-1001 .cs-wrapper img {
    width: 100%;
  }
  #menu-1001 .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #menu-1001 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: auto;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 2rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    transition: color 0.3s;
  }
  #menu-1001 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #menu-1001 .cs-button-solid:hover {
    color: #fff;
  }
  #menu-1001 .cs-button-solid:hover:before {
    width: 100%;
  }
  #menu-1001 .cs-card-group {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 1.25rem;
    /* 32px - 60px */
    row-gap: clamp(2rem, 6vw, 3.75rem);
  }
  #menu-1001 .cs-item {
    list-style: none;
    width: 100%;
    max-width: 36.25rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* 16px - 36px */
    gap: clamp(1rem, 3vw, 2.25rem);
  }
  #menu-1001 .cs-picture {
    /* 76px - 160px */
    width: clamp(4.75rem, 14vw, 10rem);
    height: clamp(4.75rem, 14vw, 10rem);
    overflow: hidden;
    display: block;
    flex: none;
    position: relative;
  }
  #menu-1001 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes it act like a background image */
    object-fit: cover;
  }
  #menu-1001 .cs-h3 {
    /* 16px - 24px */
    font-size: clamp(1rem, 2vw, 1.5rem);
    line-height: 1.2em;
    font-weight: 700;
    text-align: left;
    /* 8px - 16px */
    margin: 0 0 clamp(0.5rem, 1.5vw, 1rem);
    color: var(--headerColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: 0.75rem;
  }
  #menu-1001 .cs-h3:after {
    content: "";
    width: 50%;
    height: 1px;
    background: #b4b2c7;
    opacity: 1;
    position: relative;
    display: block;
    order: 1;
  }
  #menu-1001 .cs-name {
    max-width: 13.75rem;
    flex: none;
  }
  #menu-1001 .cs-price {
    /* 16px - 25px */
    font-size: clamp(1rem, 2vw, 1.5625rem);
    /* 28px - 46px */
    line-height: clamp(1.75rem, 4vw, 2.875rem);
    font-weight: 700;
    /* 8px - 12px */
    padding: 0 clamp(0.5rem, 1vw, 0.75rem);
    color: var(--primary);
    background-color: #fff;
    border-radius: 5rem;
    border: 1px solid #b4b2c7;
    display: flex;
    align-items: center;
    order: 3;
  }
  #menu-1001 .cs-item-p {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 2vw, 1rem);
    line-height: 1.5em;
    text-align: left;
    margin: 0;
    color: var(--bodyTextColor);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #menu-1001 .cs-card-group {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 1.25rem;
  }
  #menu-1001 .cs-item {
    width: 48.5%;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #menu-1001 .cs-title,
  body.dark-mode #menu-1001 .cs-text,
  body.dark-mode #menu-1001 .cs-h3,
  body.dark-mode #menu-1001 .cs-item-p {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #menu-1001 .cs-text,
  body.dark-mode #menu-1001 .cs-item-p {
    opacity: 0.8;
  }
  body.dark-mode #menu-1001 .cs-price {
    background-color: var(--accent);
    color: var(--primaryLight);
  }
}
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-1456 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
  }
  #sbs-1456 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-1456 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 32.625rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-1456 .cs-text {
    margin-bottom: 1rem;
  }
  #sbs-1456 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-1456 .cs-ul {
    width: 100%;
    margin: 0 0 2rem 0;
    padding-left: 1.25rem;
    /* prevents padding from affecting width and height */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
  #sbs-1456 .cs-card-group {
    width: 100%;
    max-width: 39.375rem;
    margin: 0 0 2rem 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.5rem;
  }
  #sbs-1456 .cs-li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    /* 16px - 20px */
    gap: clamp(1rem, 2.5vw, 1.25rem);
  }
  #sbs-1456 .cs-li-picture {
    width: 5rem;
    height: 5rem;
    margin: 0;
    border-radius: 50%;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* prevents flexbox from squishing it */
    flex: none;
    position: relative;
    z-index: 1;
  }
  #sbs-1456 .cs-li-picture:before {
    content: '';
    width: 100%;
    height: 100%;
    background: var(--primary);
    opacity: 0.1;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #sbs-1456 .cs-li-icon {
    width: 2rem;
    height: auto;
    display: block;
  }
  #sbs-1456 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: auto;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #sbs-1456 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #sbs-1456 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbs-1456 .cs-image-group {
    /* scaling the font size with the view width, removed at desktop */
    font-size: min(2.23vw, .83em);
    /* using ems so we can use font size to scale the whole section */
    width: 40.625em;
    height: 45.5625em;
    position: relative;
  }
  #sbs-1456 .cs-picture {
    border-radius: 1.5em;
    /* clips img tag corners */
    overflow: hidden;
    position: absolute;
    display: block;
  }
  #sbs-1456 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes image act like a background image */
    object-fit: cover;
  }
  #sbs-1456 .cs-picture1 {
    width: 32.625em;
    height: 45.5625em;
    left: 0;
    top: 0;
  }
  #sbs-1456 .cs-picture2 {
    width: 23.625em;
    height: 28.75em;
    right: 0;
    bottom: 6.25em;
  }
  #sbs-1456 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #sbs-1456 .cs-background:before {
    /* background color overlay */
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #fff;
    /* prevents the mouse from interacting with it */
    pointer-events: none;
    opacity: 0.94;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #sbs-1456 .cs-background img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    /* Makes img tag act as a background image */
    object-fit: cover;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-1456 .cs-container {
    flex-flow: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 3.25rem;
  }
  #sbs-1456 .cs-content {
    width: 40%;
    padding: 3rem 0;
    /* prevents flexbox from squishing it */
    flex: none;
    align-self: center;
  }
  #sbs-1456 .cs-image-group {
    font-size: 1rem;
    width: 50vw;
    max-width: 40.625rem;
    height: auto;
    /* 580px - 729px */
    min-height: clamp(36.25rem, 50vw, 45.5625rem);
    flex: none;
    display: flex;
  }
  #sbs-1456 .cs-picture1 {
    width: 83%;
    height: auto;
    position: relative;
    left: auto;
    top: auto;
  }
  #sbs-1456 .cs-picture2 {
    width: 60%;
    height: 57%;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #sbs-1456 .cs-title,
  body.dark-mode #sbs-1456 .cs-text,
  body.dark-mode #sbs-1456 .cs-li {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs-1456 .cs-title:before,
  body.dark-mode #sbs-1456 .cs-text:before,
  body.dark-mode #sbs-1456 .cs-li:before {
    background-color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs-1456 .cs-background:before {
    background-color: var(--dark);
  }
}
/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #gallery-1234 {
    padding: var(--sectionPadding);
    background-color: #1a1a1a;
  }
  #gallery-1234 .cs-container {
    width: 100%;
    /* changes to 100% at tablet */
    max-width: 44rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #gallery-1234 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #gallery-1234 .cs-title {
    color: var(--bodyTextColorWhite);
  }
  #gallery-1234 .cs-text {
    color: var(--bodyTextColorWhite);
    opacity: 0.8;
  }
  #gallery-1234 .cs-gallery {
    width: 100%;
    /* changes to flexbox at tablet */
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    /* 16px 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #gallery-1234 .cs-flex {
    /* breaks children from the parent. They are no longer considered children of the cs-flex and can now be flexed with the other images as part of the cs-gallery flexbox */
    display: contents;
  }
  #gallery-1234 .cs-picture {
    width: 100%;
    height: 69vw;
    /* changes at tablet */
    max-height: 18.75rem;
    display: block;
    position: relative;
  }
  #gallery-1234 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #gallery-1234 .cs-container {
    max-width: 100%;
  }
  #gallery-1234 .cs-gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #gallery-1234 .cs-flex,
  #gallery-1234 .cs-row {
    width: 20%;
  }
  #gallery-1234 .cs-flex {
    /* 375px - 680px */
    height: clamp(23.4375rem, 50vw, 42.5rem);
    max-height: 100%;
    display: flex;
    flex-direction: column;
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #gallery-1234 .cs-picture {
    max-height: 100%;
  }
  #gallery-1234 .cs-picture1 {
    height: 62%;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #gallery-1234 .cs-picture2 {
    height: 100%;
  }
  #gallery-1234 .cs-row {
    height: 40vw;
    max-height: 32.5rem;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #gallery-1234 {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
