---
title: "Davidson's Restaurant | Davidson's Country Dining | Innisfil, ON"
description: 'Local Restaurant in Innisfil'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero-998">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Welcome to</span>
                <!--Logo-->
                <picture class="cs-logo">
                    <source media="(max-width: 600px)" srcset="assets/images/LogoT.svg">
                    <source media="(min-width: 601px)"  srcset="assets/images/LogoT.svg">
                    <img decoding="async" src="assets/images/LogoT.svg" alt="Davidsons Country Dining">
                </picture>
                <p class="cs-text">
                    Wed-Thu: 4:30-8:30 PM | Fri-Sun: 4:00-9:00 PM | Closed Mon-Tue<BR><BR><BR>
                    Experience the perfect blend of culinary excellence, community spirit, and environmental stewardship. Dan Davidson’s restaurant offers great dishes crafted with love, served in a warm, rustic setting that feels like home. Enjoy a dining experience where every meal has taste and tradition.
                </p>
                <a href="tel:(705)436-1476" class="cs-button-solid">Reserve Your Table</a>
            </div>
        </div>
        <!--Background Image-->
        <!--Image is also set as background image in CSS at 1400px for parallax effect-->
        <picture class="cs-background">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Hero/table-m.jpg">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Hero/table.jpg">
            <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Hero/table.jpg" alt="logo" width="1920" height="1000">
        </picture>
    </section>
    <!-- ============================================ -->
    <!--                    Menu                      -->
    <!-- ============================================ -->

    <section id="menu-1001">
        <div class="cs-container">
            <div class="cs-content">
                <picture class="cs-wrapper" aria-hidden="true">
                    <img class="cs-decal" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/decal1.svg" decoding="async" alt="decal" width="181" height="36">
                </picture>
                <h2 class="cs-title">Our Specials</h2>
                <p class="cs-text">
                    Ask your server about our specials.
                    At Dan Davidson's, we take pride in our thoughtfully curated menu, where each ingredient is chosen for its freshness and quality. No matter what you choose, each dish at Davidson's promises a delightful and satisfying culinary experience.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <!--                <picture class="cs-picture"  aria-hidden="true">-->
                    <!--                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food3.jpg">-->
                    <!--                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food3.jpg">-->
                    <!--                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food3.jpg" alt="food" width="160" height="160">-->
                    <!--                </picture>-->
                    <div class="cs-info">
                        <h3 class="cs-h3">
                            <span class="cs-name">Soup of the Day</span>
                            <span class="cs-price">
                                8
                            </span>
                        </h3>
                        <p class="cs-item-p">
                            House-made made fresh soup, done differently depending on the week or month. Ask us what it is when you come!
                        </p>

                    </div>
                </li>
                <li class="cs-item">
    <!--                <picture class="cs-picture"  aria-hidden="true">-->
    <!--                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food3.jpg">-->
    <!--                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food3.jpg">-->
    <!--                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food3.jpg" alt="food" width="160" height="160">-->
    <!--                </picture>-->
                    <div class="cs-info">
                        <h3 class="cs-h3">
                            <span class="cs-name">Caeser</span>
                            <span class="cs-price">
                                11
                            </span>
                        </h3>
                        <p class="cs-item-p">
                            House-made Greek vinaigrette over romaine, tomato, cucumber, peppers, red onion, feta, and black olives.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
    <!--                <picture class="cs-picture"  aria-hidden="true">-->
    <!--                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">-->
    <!--                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">-->
    <!--                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg" alt="food" width="160" height="160">-->
    <!--                </picture>-->
                    <div class="cs-info">
                        <h3 class="cs-h3">
                            <span class="cs-name">Escargot</span>
                            <span class="cs-price">
                                16
                            </span>
                        </h3>
                        <p class="cs-item-p">
                            Sautéed with fresh garlic, Pernod, and butter, topped with freshly grated mozzarella cheese, parsley and broiled to a golden brown perfection.
                        </p>
                    </div>
                </li>

                <li class="cs-item">
    <!--                <picture class="cs-picture"  aria-hidden="true">-->
    <!--                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">-->
    <!--                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg">-->
    <!--                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/food2.jpg" alt="food" width="160" height="160">-->
    <!--                </picture>-->
                    <div class="cs-info">
                        <h3 class="cs-h3">
                            <span class="cs-name">Roasted Prime Rib Dinner</span>
                            <span class="cs-price">
                                40
                            </span>
                        </h3>
                        <p class="cs-item-p">
                            Our famous slow and low-roasted prime rib is served with seasonal vegetables topped with our country gravy and your choice of potato.
                        </p>
                    </div>
                </li>
            </ul>
            <a href="" class="cs-button-solid">See Our Menu</a>
        </div>
        <!--Static background is in CSS as a tiled pattern-->
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs-1456">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-image-group">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/turbine1.jpg">
                    <source media="(min-width: 601px)" srcset="assets/images/Building/building1.jpeg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/turbine1.jpg" alt="turbine" width="500" height="729" aria-hidden="true">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/windmill.jpg">
                    <source media="(min-width: 601px)" srcset="assets/images/Building/building2.jpeg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/windmill.jpg" alt="windmill" width="378" height="460" aria-hidden="true">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-content">
                <span class="cs-topper">A Memorable Dining Experience</span>
                <h2 class="cs-title">Innisfil’s Hidden Gem</h2>
                <p class="cs-text">
                    At Davidson's, we are dedicated to crafting memorable dining experiences with our thoughtfully curated menu. Each dish is made with the freshest local ingredients, blending tradition with creative flair. Whether you’re enjoying a cozy meal in our rustic setting or indulging in our gourmet specials, every bite promises satisfaction and delight.
                </p>
                <ul class="cs-card-group">
                    <li class="cs-li">
                        <picture class="cs-li-picture">
                            <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/volunteer1.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                        </picture>
                        <div class="cs-flex">
                            <h3 class="cs-h3">Fresh, Local, and made with Love!</h3>
                            <p class="cs-li-text">
                                Our menu is thoughtfully curated to bring you the freshest local ingredients, blending tradition with creative flair.
                            </p>
                        </div>
                    </li>
                    <li class="cs-li">
                        <picture class="cs-li-picture">
                            <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/volunteer2.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                        </picture>
                        <div class="cs-flex">
                            <h3 class="cs-h3">Gourmet Ingredients</h3>
                            <p class="cs-li-text">
                                We pick only the best ingredients for our menu. From juicy prime rib to flavorful herbs, each part of our dishes is chosen carefully. This means every meal looks great and tastes even better.
                            </p>
                        </div>
                    </li>
                    <li class="cs-li">
                        <picture class="cs-li-picture">
                            <img class="cs-li-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/volunteer3.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                        </picture>
                        <div class="cs-flex">
                            <h3 class="cs-h3">Good Wine, Good Company</h3>
                            <p class="cs-li-text">
                                A good meal is best enjoyed with a nice glass of wine and friends. At Dan Davidson’s, we offer a selection of fine wines to match our dishes. Our cozy setting is perfect for making memories with loved ones.
                            </p>
                        </div>
                    </li>
                </ul>
                <a href="" class="cs-button-solid">Call to Inquire</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                  Gallery                     -->
    <!-- ============================================ -->

    <section id="gallery-1234">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Our Gallery</span>
                <h2 class="cs-title">See Our Homemade Cooking</h2>
                <p class="cs-text">
                    For over forty years, we’ve been making delicious meals with fresh ingredients. Each dish is made with care, just like at home. Check out our gallery to see the food we make every day, from scratch and with love.
                </p>
            </div>
            <div class="cs-gallery">
                <div class="cs-flex">
                    <picture class="cs-picture cs-picture1">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="assets/images/gallery/gallery1.jpeg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="assets/images/gallery/gallery1.jpeg">
                        <img loading="lazy" decoding="async" src="assets/images/gallery/gallery1.jpeg" alt="person" width="360" height="420">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="assets/images/gallery/gallery2.jpeg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="assets/images/gallery/gallery2.jpeg">
                        <img loading="lazy" decoding="async" src="assets/images/gallery/gallery2.jpeg" alt="person" width="360" height="240">
                    </picture>
                </div>
                <picture class="cs-picture cs-row">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="assets/images/gallery/gallery3.jpeg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="assets/images/gallery/gallery3.jpeg">
                    <img loading="lazy" decoding="async" src="assets/images/gallery/gallery3.jpeg" alt="person" width="360" height="520">
                </picture>
                <div class="cs-flex">
                    <picture class="cs-picture cs-picture1">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="assets/images/gallery/gallery4.jpeg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="assets/images/gallery/gallery4.jpeg">
                        <img loading="lazy" decoding="async" src="assets/images/gallery/gallery4.jpeg" alt="person" width="360" height="420">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="assets/images/gallery/gallery5.jpeg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="assets/images/gallery/gallery5.jpeg">
                        <img loading="lazy" decoding="async" src="assets/images/gallery/gallery5.jpeg" alt="person" width="360" height="240">
                    </picture>
                </div>
                <picture class="cs-picture cs-row">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="assets/images/gallery/gallery6.jpeg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="assets/images/gallery/gallery6.jpeg">
                    <img loading="lazy" decoding="async" src="assets/images/gallery/gallery6.jpeg" alt="person" width="360" height="520">
                </picture>
                <div class="cs-flex">
                    <picture class="cs-picture cs-picture1">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="assets/images/gallery/gallery7.jpeg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="assets/images/gallery/gallery7.jpeg">
                        <img loading="lazy" decoding="async" src="assets/images/gallery/gallery7.jpeg" alt="person" width="360" height="420">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="assets/images/gallery/gallery8.jpeg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="assets/images/gallery/gallery8.jpeg">
                        <img loading="lazy" decoding="async" src="assets/images/gallery/gallery8.jpeg" alt="person" width="360" height="240">
                    </picture>
                </div>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                    Steps                     -->
    <!-- ============================================ -->

    <section id="steps-1893">
        <div class="cs-container">
            <div class="cs-image-group">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="assets/images/gallery/whyus.jpeg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="assets/images/gallery/whyus.jpeg">
                    <img loading="lazy" decoding="async" src="assets/images/gallery/whyus.jpeg" alt="dermatologist" width="324" height="467">
                </picture>
                <img class="cs-graphic cs-brown" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/brown-lines2.svg" alt="graphic" width="100" height="98" aria-hidden="true">
                <img class="cs-graphic cs-peach" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/peach-blob.svg" alt="graphic" width="42" height="31" aria-hidden="true">
                <img class="cs-graphic cs-leaf" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/leaf-reverse.svg" alt="graphic" width="136" height="171" aria-hidden="true">
                <img class="cs-graphic cs-dots" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/beige-dots.svg" alt="graphic" width="159" height="88" aria-hidden="true">
                <img class="cs-graphic cs-lines" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/mesh-reverse.svg" alt="graphic" width="150" height="165" aria-hidden="true">
            </div>
            <div class="cs-wrapper">
                <div class="cs-content">
                    <span class="cs-topper">Why us?</span>
                    <h2 class="cs-title">Come as a stranger,<BR> Leave as a Friend!</h2>
                </div>
                <ul class="cs-card-group">
                    <li class="cs-item">
                        <span class="cs-number">01</span>
                        <div class="cs-flex">
                            <h3 class="cs-h3">All Tastes Welcome!</h3>
                            <p class="cs-item-text">
                                Davidson’s Country Dining offers an extensive range of lunch and dinner dishes, catering to all tastes. Enjoy everything from hearty burgers and fresh salads to gourmet entrées and delicious sandwiches, each made with the finest ingredients.
                            </p>
                        </div>
                    </li>
                    <li class="cs-item">
                        <span class="cs-number">02</span>
                        <div class="cs-flex">
                            <h3 class="cs-h3">Locally Sourced, Fresh Ingredients</h3>
                            <p class="cs-item-text">
                                We are dedicated to using fresh, high-quality ingredients, sourcing locally whenever possible. This commitment ensures that every dish not only tastes amazing but also supports local farmers and suppliers.
                            </p>
                        </div>
                    </li>
                    <li class="cs-item">
                        <span class="cs-number">03</span>
                        <div class="cs-flex">
                            <h3 class="cs-h3">Friendly, welcoming Atmosphere</h3>
                            <p class="cs-item-text">
                                Our restaurant is designed to offer a warm and welcoming atmosphere. Whether you’re in for a relaxed lunch, a cozy dinner, or a special event, Davidson’s Country Dining provides a friendly environment where great food and good times come together.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                Side By Side                  -->
    <!-- ============================================ -->

    <section id="sbs-1010">
        <div class="cs-container">
            <div class="cs-image-group">
                <picture class="cs-picture">
                    <!--Desktop-->
                    <source media="(min-width: 1024px)" srcset="assets/images/gallery/Flowers.jpeg">
                    <!--Tablet-->
                    <source media="(min-width: 601px)" srcset="assets/images/gallery/Flowers.jpeg">
                    <!--Mobile-->
                    <source media="(max-width: 600px)" srcset="assets/images/gallery/Flowers.jpeg">
                    <img loading="lazy" decoding="async" src="assets/images/gallery/Flowers.jpeg" alt="beef" width="522" height="461" aria-hidden="true">
                </picture>
                <img class="cs-seal" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/SideBySide/seal2.svg" alt="seal" width="190" height="182">
            </div>
            <div class="cs-content">
                <span class="cs-topper">Our Story</span>
                <h2 class="cs-title">Who We Are</h2>
                <p class="cs-text">
                    Located near Innisfil’s Friday Harbour Resort, Davidson’s Country Dining is a cozy log cabin restaurant owned by Dan Davidson since 1984. With its rustic charm and eclectic decor, our eatery offers a unique dining experience featuring a menu that ranges from hearty cottage fare to fine dining, all made from scratch.
                    <span class="cs-spacer"></span>
                    Discover why we’re a beloved gem in Innisfil, complete with a resident ghost named Earl who adds a touch of mystery and charm. From prime rib to homemade desserts, our diverse menu and welcoming ambiance ensure a memorable dining experience.
                </p>
                <a href="tel:(705)436-1476" class="cs-button-solid">Reserve Your Table</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                  Reviews                     -->
    <!-- ============================================ -->

    <section id="reviews-567">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Reviews</span>
            <h2 class="cs-title">What our Friends say about Us!</h2>
            <p class="cs-text">
                Here is what the locals have to say about the place.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <!--Blue Quote-->
                <img class="cs-stars" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/stars3.svg" decoding="async" alt="quote icon" width="189" height="24">
                <p class="cs-item-text">
                   Just moved to Friday Harbour in Innisfil & dined at this charming restaurant & the food was absolutely delicious yum yum 😋 the Service was impeccable & the atmosphere was so cozzzyy & relaxing I feel like I could of just hung out at the bar & had the best night ever!!<br><br>

                    You can definitely tell that the owners are extremely social & they take such pride in putting lots of Love into this charming place.<br><br>

                    I would definitely recommend having a date night at this place!! Cheers 🥂<BR><BR>
                    Food: 5/5  |  Service: 5/5  |  Atmosphere: 5/5
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="assets/images/reviews/review1.png" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                    </picture>
                    <span class="cs-name">
                        Tammy Perger
                        <span class="cs-job">New Customer</span>
                    </span>
                </div>
            </li>
            <li class="cs-item">
                <!--Blue Quote-->
                <img class="cs-stars" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/stars3.svg" decoding="async" alt="quote icon" width="189" height="24">
                <p class="cs-item-text">
                    I'd have my family birthdays here. Great customer service. Friendly staff. Good food.<BR><BR>
                    Food: 5/5  |  Service: 5/5  |  Atmosphere: 5/5<BR><BR>
                    Recommended dishes<BR>
                    10 Oz Prime Rib Medium Rare, Prime Beef Dinner<BR><BR>

                    Parking space<BR>
                    Plenty of parking<BR><BR>

                    Parking options<BR>
                    Free parking lot
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="assets/images/reviews/review2.png" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                    </picture>
                    <span class="cs-name">
                        Kel MOORE
                        <span class="cs-job">Local Guide</span>
                    </span>
                </div>
            </li>
            <li class="cs-item">
                <!--Blue Quote-->
                <img class="cs-stars" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/stars3.svg" decoding="async" alt="quote icon" width="189" height="24">
                <p class="cs-item-text">
                    Had an amazing time at this restaurant!
                    Impeccably clean, cozy vibes, and the friendliest staff. The food? Mouthwatering!
                    Definitely try the burger and fish and chips. I'll be back for sure! Five stars!
                    Food: 5/5  |  Service: 5/5  |  Atmosphere: 5/5<BR><BR>

                    Parking space<BR>
                    Plenty of parking<BR><BR>

                    Parking options<BR>
                    Free parking lot
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="assets/images/reviews/review3.png" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                    </picture>
                    <span class="cs-name">
                        Mehrad Shah
                        <span class="cs-job">Local</span>
                    </span>
                </div>
            </li>
        </ul>
    </div>
</section>




    {% include 'components/cta.html' %}
{% endblock %}